<div class="foo">One fish</div>
<div class="foo">Two fish</div>
<div class="foo">Three fish</div>
<div class="foo">Bam!</div>

<script>
  const foos = [...document.getElementsByClassName('foo')]

  const style = {background: 'red', height: '56px'}

  const newStyle = {...style, display: 'block'}

  for (const foo of foos) {
    foo.innerHTML = 'fill'
  }
</script>

<!--
* HtmlElementCollection is not an array. Lots of things don't work.
* The only things that do are "[i]" and ".length"
* Use the syntax [..._colllection_] to convert to an array
* How this works? We'll learn in the upcoming months.
-->
